* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff1f1;
    color: #333;
}

header {
    padding: 15px 30px;
    background-color: orangered;
}

header h1 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

main {
    margin-top: 80px;
    text-align: center;
}

main h1 {
    font-size: 50px;
    margin-bottom: 50px;
    color: orangered;
}

main p {
    font-size: 25px;
    color: #444;
    margin-bottom: 50px;
}

button {
    padding: 18px 35px;
    background-color: orangered;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #890000;
}